extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZwMCDPLdKUm9wCOhHiCyoOtsd2j3FiXU&callback=initMap")
block content
  include ../common/hero.pug

  .container
    section.about
      .about__left
        .about__left-title
          h2.about-title__header.big-title= title
        .about__left-content
          .user-desc
            .user-desc__image
              +image("avatar.jpg", "Малафеев Евгений", "user-desc__avatar")

            .user-desc__data
              .user-desc__title
                h2.block-subtitle кто я
              .user-desc__text.text-content
                p Я веб разработчик из Санкт-Петербурга. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
      .about__right
        .about-triangle
          //- svg.triangle.triangle_fill_beige
        .about__right-title
          h2.block-subtitle.block-subtitle__center Чем я могу быть вам полезен
        .about__right-description.text-content
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__right-content
          #skills-container

  section.map
    #google-map
    .map__data
        .contacts
          h2.contacts__title.block-subtitle Контакты
          address.contacts__data
            ul.contacts__list
              -
                var contacts = [
                  ['skype', 'evgeny_malafeev', 'skype:evgeny_malafeev'],
                  ['envelope', 'malafeev.en@yandex.ru', 'mailto:malafeev.en@yandex.ru'],
                  ['phone', '+7 911 924 87 98', 'tel:+79119248798'],
                  ['map_marker', 'г.Санкт-Петербург пр.Авиаконструкторов д.20', 'https://www.google.ru/maps/place/%D0%BF%D1%80.+%D0%90%D0%B2%D0%B8%D0%B0%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2,+20,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+197373/@60.0197727,30.2317455,17z/data=!3m1!4b1!4m5!3m4!1s0x469635c9a2c940dd:0xa71a19beef811b0c!8m2!3d60.0197727!4d30.2339342']
                ]
              each item in contacts
                li.contacts__item.contacts-row
                  .contacts-row.contacts__icon
                    a(href=`${item[2]}`).contacts__link
                      +icon(`${item[0]}`, 'contacts__icon-img')
                      .contacts-row.contacts__title #{item[1]}






