extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='blog.bundle.js')

block content
  include ../common/hero.pug

  section.blog-main
    .container
      .blog-left
        .blog-menu
          -
            var titles = [
              "Самое важное в Sass",
              "Приемы в верстке без которых не обходиться ни один сайт",
              "Самый необходимый набор Gulp плагинов",
              "Почему я выбрал Webpack"
            ]
          +list("menu-articles", titles, 0)
          .swiper-wrap
            button.swiper

      .blog-right
        .articles
          article.article
          -
            var articles = [
              {
                title: 'Самое важное в Sass',
                date: '10.01.2018',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
              },{
                title: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
                date: '10.01.2018',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
              }
            ]

          ul.article__list
            each item, ndx in articles
              li.article__item
                h2(id=ndx).article__title= item.title
                span.article__date= item.date
                p= item.text








