script(type="text/x-tamplate")#auth-form
  .login__form
    .input-cnt
      .input-wrap
        .input__img
          +icon("login", "input__img-svg")
        input(type="text" name="login" placeholder="Логин" v-model="user.name").login__input
      .input-wrap
        .input__img
          +icon("password", "input__img-svg")
        input(type="password" name="password" placeholder="Пароль" v-model="user.password").login__input
    .checkbox-cnt
      input(type="checkbox" name="human" id="human").login__checkbox-human.visually-hidden
      label(for="human").login__label-checkbox-human Я человек
    fieldset.login__robot-check
        legend Вы точно не робот?
        .checkbox-cnt
          .checkbox-wrap
            input(type="radio" name="robot-checkbox" id="robot-yes").login__checkbox-robot.visually-hidden
            label(for="robot-yes").login__label-checkbox-robot Да
            input(type="radio" name="robot-checkbox" id="robot-no").login__checkbox-robot.visually-hidden
            label(for="robot-no").login__label-checkbox-robot Не уверен
    nav.main-menu
      ul.main-menu__list
        li.main-menu__item
          a().main-menu__link На главную
        li.main-menu__item
          a(@click.prevent="login").main-menu__link Войти

