footer.footer
  .container
    .footer__row.footer__row--border-down
      .footer__col
        +nav('menu', [ {title: 'Мои работы', link: 'works.html' }, {title: 'Обо мне', link: 'about.html'}, {title: 'Блог', link: 'blog.html'}, {title: 'Авторизация', link: 'index.html'}])

      .footer__col.footer__col_justify_end
        -
          var socials = [
            ["vk_round", "https://vk.com/enmalafeev"],
            ["github_round", "https://github.com/enmalafeev"],
            ["in_round", "https://www.linkedin.com/in/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D0%BC%D0%B0%D0%BB%D0%B0%D1%84%D0%B5%D0%B5%D0%B2-14403a120/"]
          ]
        +socials(socials, 'footer-round')

    .footer__row
      .footer__col
        .footer__text
          p Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

      .footer__col.footer__col_justify_end
        p &#169 Евгений Малафеев | Создано с любовью в LoftSchool 2018

