html {
  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 16px;
  }

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 14px;
  }

  @include small-phones {
    font-size: 14px;
  }
}
