.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablets {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 50%;
        background-color: #efeee9;

        @include tablets {
            width: 100%;
            justify-content: center;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;

        width: 50%;
        background-color: #eeebdf;

        @include tablets {
            width: 100%;
            justify-content: center;
        }
    }
}

.about__left-title {
    display: flex;
    background: url('assets/images/about_header.png') no-repeat center;
}

.about__right-title {
    text-align: center;
}

.about-title__header {
    font-family: 'bernier', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 63px;
    color: $dark-grey;

    margin: auto;
    padding-bottom: 40px;


}

.about__left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__right-description {
    padding-left: 40px;

    @include tablets {
        padding: 0;
        font-size: 14px;
        width: 70%;
        margin: 0 auto;
    }

    @include small-phones {
        width: 90%;
        line-height: 1.7;
    }
}
