
.blur-form-wrapper {
  position: relative;
  min-width: 300px;
  min-height: 400px;
  border-radius: 10px;
  overflow: hidden;

  margin-bottom: 70px;
}

.blur-form {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // background: url("/assets/images/bg-works.jpg") center no-repeat;

  // filter: blur(20px);
  display: flex;
  flex-direction: column;
}

