.auth-btn {
    align-self: flex-end;

    @include phones {
        align-self: center;
        margin-bottom: 0.875rem;
    }
}

.login-btn {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;

    padding: 10px 27px;

    &:hover,
    &:focus {
        color: $green;
        background-color: #fff;
        transition: all 0.5s ease-out;
    }

}

.arrow-down-link,
.arrow-up-link {
    width: 26px;
    height: 16px;

    fill: #fff;
    opacity: 0.7;

    &:hover,
    &:focus {
        opacity: 1;
        transition: all 0.5s ease-out;
    }
}

.arrow-up-link {
    transform: rotate(180deg);
}


.btn-show-portfolio-site {
    color: #fff;
    background-color: $green;
    text-decoration: none;
    border-radius: 5px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 20px;

    position: relative;

    &::before {
        position: absolute;
        content: "";

        width: 20px;
        height: 20px;

        top: 13px;
        left: 18px;

        background: url("assets/images/link.svg") no-repeat center;
    }

    &:hover,
    &:active {
        background-color: $green-dark;
        transition: all 0.5s ease-out;
    }

}

.btn-form {
    background-color: $green;
    color: #fff;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    width: 50%;

    &:hover,
    &:focus {
        background-color: $green-dark;
    }
}

.btn-form:not(:last-child) {
    border-right: 2px solid #ccc;
}
