.footer {
    background-color: #373e42;
    opacity: 0.85;
    margin-top: -179px;

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    &__col {
        width: 50%;

        @include tablets {
            width: 100%;
        }
    }
}

.footer__row--border-down {
    padding-right: 30px;
    border-bottom: 1px solid #fff;
    opacity: 0.5;

    @include tablets {
        padding-right: 0;
    }
}

.footer__col_justify_end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding-right: 30px;

    @include tablets {
        width: 100%;
        justify-content: center;

        padding-bottom: 20px;
    }

    @include small-phones {
        justify-content: center;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

.footer__text {
    width: 85%;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;

    @include tablets {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    @include small-phones {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

