.hamburger {
    display: block;
    width: 40px;
    height: 5px;

    border: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 0 0 rgba(255, 255, 255, 1),
    0 20px 0 0 rgba(255, 255, 255, 1);
}
