.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;

    &__links {
        width: 140px;
        margin-left: 30px;

        @include small-phones {
            width: 125px;
        }
    }

    &__menu {
        margin-right: 30px;
    }

    &__hamburger {
        width: 40px;
        height: 35px;
        background-color: transparent;
        padding: 0;
        outline: none;
    }
}
