.login {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        width: 80%;
        align-self: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        width: 100%;
        height: 45px;
        background-color: #fff;
        opacity: 1;
        border: none;
        border-radius: 0 5px 5px 0;
        padding-left: 20px;
        outline: none;
        &:focus,
        &:active {
            outline: 2px solid $green;
            box-shadow: 0 0 4px $green;
        }
    }
}

form {
    label {
        cursor: pointer;
    }
}

.input-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.input-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.checkbox-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-wrap {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.input__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #f0efe9;
    border-radius: 5px 0 0 5px;
}

.input__img-svg {
    width: 18px;
    height: 18px;
    fill: #c4cbcd;
}

.login__robot-check {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    legend {
        width: 100%;
        font-weight: 700;
        color: $grey;
        text-align: center;
        margin-bottom: 14px;
    }
}

.login__label-checkbox-human {
    position: relative;
    padding-left: 30px;
    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $green;
        border-radius: 3px;
        top: 0;
        left: 0;
    }
}

.login__checkbox-human:checked+label::before {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: $green;
    background: url("assets/images/check.svg") no-repeat center;
    top: 0;
    left: 0px;
}

.login__label-checkbox-robot {
    // margin-right: 40px;
    position: relative;
    padding-left: 30px;
    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #c4cbcd;
        border-radius: 50%;
        background-color: #fff;
        top: 0;
        left: 0;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
    }
}

.login__checkbox-robot:checked+label {
    color: $green;
}

.login__checkbox-robot:checked+label::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #c4cbcd;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
    left: 0;
}

.login__checkbox-robot:checked+label::after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $green;
    top: 7px;
    left: 7px;
}
