.main-menu {
    background-color: $green;
    width: 100%;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        line-height: 45px;
        flex: 1 1 auto;
    }

    &__link {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;

        padding-left: 2rem;
        padding-right: 2rem;

        @include tablets {
            padding-left: 1.625rem;
            padding-right: 1.625rem;
        }

        @include phones {
            font-size: 0.875rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include small-phones {
            padding-left: 0.9rem;
            padding-right: 0.9rem;
        }

        &:hover,
        &:active {
            background-color: $green-dark;
            transition: all 0.5s ease-out;
        }
    }
}

.main-menu__item:not(:last-child) {
    border-right: 1px solid #ccc;
}

