.main-footer {
    color: #fff;
}

.main-footer p {
    font-weight: 300;
    text-align: center;
    padding-bottom: 30px;

    @include tablets {
        font-size: 0.875rem;
    }

    @include phones {
        font-size: 0.875rem;
        padding-bottom: 0;
    }
}

