.map {
    display: flex;
}

.map__data {
    width: 32%;
    background-color: #fff;
    color: #000;
    opacity: 0.85;
    border-radius: 5px;

    margin: auto;
}

.google-map {
    width: 100px;
    height: auto;
    background: url('assets/images/map.jpg') no-repeat center;
    height: auto;
}
