.map {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url('assets/images/map.jpg') no-repeat center / cover;

    margin-bottom: 179px;
}

.map__data {
    width: 32%;
    background-color: #fff;
    color: #000;
    opacity: 0.85;
    border-radius: 5px;

    margin: auto;

    @include tablets {
        width: 50%;
    }
    @include small-phones {
        width: 100%;
        margin: 0;
        background: none;
    }
}

// .google-map {
//     width: 100%;
//     height: auto;
//     background: url('assets/images/map.jpg') no-repeat center;
// }
