.menu-articles {

    &__title {
        margin-bottom: 30px;
        text-align: right;

        position: relative;

        &::after {
            position: absolute;
            content: "";

            width: 3px;
            height: 100%;

            top: 0;
            right: -20px;

            background-color: $green;
        }
    }

    &__link {
        color: $grey;
        text-decoration: none;

        &:hover,
        &:active {
            color: $green;
        }
    }
}
