.menu-articles {

    &__item {
        margin-bottom: 30px;
        text-align: right;
    }

    &__link {
        color: $grey;
        text-decoration: none;
        padding: 15px 0;
        position: relative;

        &:hover,
        &:active {
            color: $green;
            transition: all 0.5s ease-out;
        }

        @include tablets {
            color: #fff;
            opacity: 0.7;

            &:hover,
            &:active {
                color: #fff;
                opacity: 1;
                transition: all 0.5s ease-out;
            }
        }
    }
}

.menu-articles__item--active {

    &::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 100%;
        top: 0;
        right: -20px;
        background-color: $green;
    }
}
