.menu-articles {

    &__item {
        margin-bottom: 30px;
        text-align: right;

        position: relative;
    }

    &__link {
        color: $grey;
        text-decoration: none;

        &:hover,
        &:active {
            color: $green;
        }
    }
}

.menu-articles__item--active {

    &::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 100%;
        top: 0;
        right: -20px;
        background-color: $green;
    }
}
