.reviews {
  width: 100vw;
  // min-width: 900px;
  background: url("assets/images/bg-works.jpg") no-repeat 50% 100% / contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: green;
}

.reviews__title {
  text-align: center;
  background: url('assets/images/about_header-works.png') no-repeat center;

  @include tablets {
    width: 90%;
  }
}
