.reviews {
  width: auto;
  background: url("assets/images/bg-works.jpg") no-repeat 0 0;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__title {
  text-align: center;
  background: url('assets/images/about_header-works.png') no-repeat center;

  @include tablets {
    width: 100%;
    padding: 0 30px;
    background: url('assets/images/about_header768.png') no-repeat center;
  }

  @include phones {
    background: url('assets/images/about_header320.png') no-repeat center;
  }
}
