.slider {
    height: 100vh;
    min-height: 650px;
    background-color: #f0efe9;
    display: grid;
    overflow: hidden;
    grid-template:
        "info display" 70%
        "info buttons" 30%
        / 1fr 1fr;

    @include tablets {
        grid-template:
        "display" 45%
        "info" 35%
        "buttons" 20%
        / 1fr;
        height: 100vh;
    }
}

.slider__info-skills {
    color: $green;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 20px;
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    margin-bottom: 40px;
    font-size: 0;
    span {
        display: inline-block;
        font-size: 14px;

        &.whitespace {
            &:after {
                content: "\00a0";
            }
        }
    }

    @include tablets {
        margin-bottom: 20px;
    }

    @include phones {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.slider__info-title {
    display: flex;
    justify-content: center;
    @include phones {
        width: 100%;
        margin-top: 20px;
    }
}

.transition-block {
    padding: 0 10px;
}

.block-subtitle {
    width: 90%;
    @include phones {
        width: 70%;
    }
}

.slider__info-container {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.slider__display {
    grid-area: display;
    background-color: #efebe0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__buttons {
    grid-area: buttons;
    display: flex;
    overflow: hidden;
}
.slider__button {
    width: 50%;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;

    &:hover,
    &:active {
        opacity: 0.7;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, 0.3);
        z-index: 10;
    }

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        height: 29px;
        background: svg-load('arrow_down.svg' fill="#fff") no-repeat center / contain;
        z-index: 20;

    }

    &--next {
        &::after {
            transform: translate(-50%, -50%)
            rotate(180deg);
        }
    }
}

.slider__big-pic {
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slider__button-img-wrap {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__btn-pic {
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slider__button-img-cnt {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slide-down-enter-active, .slide-down-leave-active,
.slide-up-enter-active, .slide-up-leave-active {
    transition: 1s;
}

.slide-down-leave {
    bottom: 0%;
}

.slide-down-leave-to {
    bottom: -100%;
}

.slide-down-enter {
    bottom: 100%;
}

.slide-down-enter-to {
    bottom: 0%;
}

.slide-up-leave {
    bottom: 0%;
}

.slide-up-leave-to {
    bottom: 100%;
}

.slide-up-enter {
    bottom: -100%;
}

.slide-up-enter-to {
    bottom: 0%;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.5s;
    animation-name: bounceIn;
}
