.triangles-about,
.triangles-works,
.triangles-white {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


.triangles__svg {
    width: 100%;
    display: block;
}

.triangles-white {
    fill: #fff;
}

.triangles-works {
    fill: #faf8f0;
}

.fillGrey {
    fill: #efeee9;
}

.fillBright {
    fill: #eeebdf;
}




