// .triangles__hero {
//     fill: #fff;
// }

.triangles__svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.triangles-white {
    fill: #fff;
}

.triangles-works {
    fill: #faf8f0;
}

.fillGrey {
    fill: #efeee9;
}

.fillBright {
    fill: #eeebdf;
}




