.user {
    text-align: center;

    &__img {
        display: inline-block;
        vertical-align: center;
        width: 140px;
        height: 140px;
        margin-bottom: 16px;
        text-align: center;
    }

    &__img-pic {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        text-align: center;
    }

    &__name {
        font-size: 35px;
        color: #fff;
        text-align: center;

    }

    &__info {
        font-weight: 300;
        color: #fff;
        text-align: center;
    }
}

.user-wrap {
    width: 380px;
    height: 395px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    background-color: #fff;
    opacity: 0.85;
    border-radius: 5px;
}





